<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         id="helloview"
         name="My  view"
         point="pt.iscte.pidesco.view">
      <view
            class="codegeneration.TestView">
      </view>
   </extension>
   <extension
         id="codeGenerationTool"
         name="Create new class java here"
         point="pt.iscte.pidesco.tool">
      <tool
            class="codegeneration.GenerateClassTool"
            description="Create new class java"
            hasState="false"
            icon="newClass.png"
            view="pt.iscte.pidesco.projectbrowser.tree">
      </tool>
   </extension>

</plugin>
